In [1]:
import numpy as np
import pandas as pd

#cargamos el csv con las respuestas del form
df_cohousing = pd.read_csv("./data/cohousing_TEMP.csv")
df_cohousing.head()

,Timestamp,¿Qué edad tienes?,Lista de actividades: [YOGA],Lista de actividades: [NATACIÓN ],Lista de actividades: [BAILE ],Lista de actividades: [GOLF ],Lista de actividades: [GIMNASIO ],Lista de actividades: [TIRO CON ARCO ],Lista de actividades: [ZUMBA ],Lista de actividades: [TENIS],...,Lista de actividades: [MANUALIDADES],Lista de actividades: [IDIOMAS],Lista de actividades: [COCINA],Lista de actividades: [COCTELERÍA],Lista de actividades: [CERVECERÍA ARTESANAL],Lista de actividades: [CATAS DE COMIDA Y BEBIDA],Lista de actividades: [BINGO],Lista de actividades: [PARCHIS],Lista de actividades: [AJEDREZ],Lista de actividades: [TEATRO]
0,2022/03/11 7:27:28 pm CET,Más de 55 años,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022/03/11 7:32:28 pm CET,Más de 55 años,1 No me gusta,3,1 No me gusta,3,1 No me gusta,3,1 No me gusta,3,...,3,2,3,3,3,3,1 No me gusta,1 No me gusta,2,3
2,2022/03/11 7:50:52 pm CET,Más de 55 años,1 No me gusta,3,3,NaN,2,NaN,3,3,...,2,2,2,NaN,NaN,1 No me gusta,1 No me gusta,1 No me gusta,NaN,1 No me gusta
3,2022/03/11 7:55:37 pm CET,Más de 55 años,3,5 Me encanta,4,1 No me gusta,1 No me gusta,NaN,NaN,4,...,NaN,2,1 No me gusta,1 No me gusta,1 No me gusta,1 No me gusta,1 No me gusta,3,NaN,NaN
4,2022/03/11 8:35:38 pm CET,Más de 55 años,1 No me gusta,2,1 No me gusta,1 No me gusta,4,1 No me gusta,1 No me gusta,5 Me encanta,...,5 Me encanta,3,3,1 No me gusta,1 No me gusta,1 No me gusta,1 No me gusta,3,2,3

In [2]:
def preprocess_form(dataframe):
    """
    This functions will preprocess the original csv from the Google form and get it ready for the model.

    Parameters
    -----------

    dataframe (object): the DataFrame containing three columns; userID, itemID and rating.

    return
    ------

    The preprocessed dataframe.

    """
    dataframe = dataframe[dataframe.columns[2:]]
    dataframe = dataframe.dropna(how='all')
    dicc_formulario = {
        '1 No me gusta': 1,
        '2': 2,
        '3': 3,
        '4': 4,
        '5 Me encanta': 5
    }

    for i in dataframe.columns:
        dataframe[i] = dataframe[i].map(dicc_formulario)

    return dataframe

In [3]:
preprocess_form(df_cohousing)

,Lista de actividades: [YOGA],Lista de actividades: [NATACIÓN ],Lista de actividades: [BAILE ],Lista de actividades: [GOLF ],Lista de actividades: [GIMNASIO ],Lista de actividades: [TIRO CON ARCO ],Lista de actividades: [ZUMBA ],Lista de actividades: [TENIS],Lista de actividades: [CLUB DE LECTURA],Lista de actividades: [CLUB DE ESCRITURA],...,Lista de actividades: [MANUALIDADES],Lista de actividades: [IDIOMAS],Lista de actividades: [COCINA],Lista de actividades: [COCTELERÍA],Lista de actividades: [CERVECERÍA ARTESANAL],Lista de actividades: [CATAS DE COMIDA Y BEBIDA],Lista de actividades: [BINGO],Lista de actividades: [PARCHIS],Lista de actividades: [AJEDREZ],Lista de actividades: [TEATRO]
1,1.0,3.0,1.0,3.0,1.0,3.0,1.0,3.0,2.0,2.0,...,3.0,2.0,3.0,3.0,3.0,3.0,1.0,1.0,2.0,3.0
2,1.0,3.0,3.0,NaN,2.0,NaN,3.0,3.0,NaN,NaN,...,2.0,2.0,2.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0
3,3.0,5.0,4.0,1.0,1.0,NaN,NaN,4.0,NaN,NaN,...,NaN,2.0,1.0,1.0,1.0,1.0,1.0,3.0,NaN,NaN
4,1.0,2.0,1.0,1.0,4.0,1.0,1.0,5.0,5.0,3.0,...,5.0,3.0,3.0,1.0,1.0,1.0,1.0,3.0,2.0,3.0
5,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,NaN,1.0,NaN,NaN,3.0,NaN,NaN,2.0,NaN,NaN,...,NaN,3.0,2.0,NaN,NaN,NaN,NaN,1.0,1.0,3.0
251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,...,2.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0
253,1.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,3.0,NaN,4.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Ahora habría que trasnformarlo a un dataframe de tripletas para alimentar el algoritmo